%div.ui.grid
  %div.row
    %div.column.wide.sixteen
      %i.play-button.play.circle.icon
      %div.media-player.hidden
        %iframe{allowfullscreen: "", frameborder: "0", height: "493", mozallowfullscreen: "", src: "//player.vimeo.com/video/112232046?title=0&amp;byline=0&amp;portrait=0", webkitallowfullscreen: "", width: "800"}
  %div.row
    %div.column.wide.sixteen
      %div.signup
        %input.email{type: "text", placeholder: "Email Address"}
        %input.request-invite{type: "submit", value: "Request Invite"}

